<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>User Data</title>
    <link rel="stylesheet" href="../../bower_components/pure/pure-min.css">
    <style>
        .content {
            margin: 10px;
        }
    </style>
</head>
<body>
<div class="content">
    <form class="pure-form pure-form-aligned">
        <fieldset>
            <div class="pure-control-group">
                <label for="name">Username</label>
                <input id="name" type="text" placeholder="Username">
            </div>

            <div class="pure-control-group">
                <label for="password">Access Token</label>
                <input id="password" type="password" placeholder="Access Token">
            </div>

            <div class="pure-controls">
                <button type="submit" id="js-save" class="pure-button pure-button-primary">Submit</button>
            </div>
        </fieldset>
    </form>
</div>
<script src="oauth-token-controller.js"></script>
</body>
</html>