@charset "UTF-8";
$left-margin: 50px;
$list-width: 200px;
$menu-width: 0;
$left-width: $list-width +$menu-width +$left-margin;

#layout {
  margin: 0;
  padding: 0;
}

#content {
}

#content-list {
  width: $list-width;
  word-wrap: break-word;
  .content-list-filter-input {
    transition: all .1s ease;
    box-sizing: border-box;
    border: 1px solid #0b97c4;
    width: 100%;
    overflow: hidden;
  }
  .content-list-filter-input.v-enter, .content-list-filter-input.v-leave {
    height: 0;
    padding: 0 10px;
    opacity: 0;
  }
}

#github-webview {
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: hidden;
  #comment-preview-header {
    box-sizing: border-box;
    height: 80px;
    max-height: 10%;
    margin: 0 10px;
    border-bottom: 2px solid #ddd;
    font-size: 1.2em;
    overflow: hidden;
    .repo_name {
      position: relative;
      font-size: 0.7em;
      right: 0;
      top: 0;
      margin: 0;
      padding: 0;
    }
  }
  #github-iframe {
    width: 100%;
    height: 89%; // TOOD: missing 1%...
    overflow: hidden;
    border: none;
  }

  .comment-description {
    margin: 0 .5em;
    overflow: hidden;
  }
}

//
/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
  color: #333;
  margin: auto;
}

a {
  text-decoration: none;
  color: #1b98f8;
}

/*
 * -- HELPER STYLES --
 * Over-riding some of the .pure-button styles to make my buttons look unique
 */
.primary-button,
.secondary-button {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 20px;
}

.primary-button {
  color: #fff;
  background: #1b98f8;
  margin: 1em 0;
}

.secondary-button {
  background: #fff;
  border: 1px solid #ddd;
  color: #666;
  padding: 0.5em 2em;
  font-size: 80%;
}

/*
 * -- LAYOUT STYLES --
 * This layout consists of three main elements, `#nav` (navigation bar), `#content-list` (email list), and `#main` (email content). All 3 elements are within `#layout`
 */
#layout, #nav, #content-list, #main {
  margin: 0;
  padding: 0;
}

/* Make the navigation 100% width on phones */
#nav {
  width: 100%;
  height: 40px;
  position: relative;
  background: rgb(37, 42, 58);
  text-align: center;
}

/* Show the "Menu" button on phones */
#nav .nav-menu-button {
  display: block;
  top: 0.5em;
  right: 0.5em;
  position: absolute;
}

/* When "Menu" is clicked, the navbar should be 80% height */
#nav.active {
  height: 80%;
}

/* Don't show the navigation items... */
.nav-inner {
  display: none;
}

/* ...until the "Menu" button is clicked */
#nav.active .nav-inner {
  display: block;
  padding: 2em 0;
}

/*
 * -- NAV BAR STYLES --
 * Styling the default .pure-menu to look a little more unique.
 */
#nav .pure-menu.pure-menu-open {
  background: transparent;
  border: none;
  text-align: left;
}

#nav .pure-menu a:hover,
#nav .pure-menu a:focus {
  background: rgb(55, 60, 90);
}

#nav .pure-menu a {
  color: #fff;
  margin-left: 0.5em;
}

#nav .pure-menu-heading {
  border-bottom: none;
  font-size: 110%;
  color: rgb(75, 113, 151);
}

/*
 * -- EMAIL STYLES --
 * Styles relevant to the email messages, labels, counts, and more.
 */
.email-count {
  color: rgb(75, 113, 151);
}

.email-label-personal,
.email-label-work,
.email-label-travel {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 0.5em;
  border-radius: 3px;
}

.email-label-personal {
  background: #ffc94c;
}

.email-label-work {
  background: #41ccb4;
}

.email-label-travel {
  background: #40c365;
}

.avatar-img {
  width: 30px;
  height: 30px;
  margin: 5px;
  float: left
}

.event-item {
  cursor: pointer;
  padding: 0.9em 1em;
  border-bottom: 1px solid #ddd;
  border-left: 6px solid transparent;
  .event-header {
    clear: all;
  }
  .event-subject {
    font-size: 0.9em
  }
}

.email-avatar {
  border-radius: 3px;
  margin-right: 0.5em;
}

.event-username,
.event-subject {
  margin: 0;
}

.event-username {
  color: #999;
}

.event-description {
  font-size: 80%;
  margin: 0.4em 0;
  overflow: hidden;
  max-height: 150px;
}

.event-item-selected {
  background: #eee;
}


/* Email Content Styles */
.event-content-header, .email-content-body, .email-content-footer {
  padding: 1em 2em;
}

.email-content-title {
  margin: 0.5em 0 0;
}

.email-content-subtitle {
  font-size: 1em;
  margin: 0;
  font-weight: normal;
}

.email-content-subtitle span {
  color: #999;
}

.email-content-controls {
  margin-top: 2em;
  text-align: right;
}

.email-content-controls .secondary-button {
  margin-bottom: 0.3em;
}

.email-avatar {
  width: 40px;
  height: 40px;
}

/* Move the layout over so we can fit the nav + list in on the left */
#layout {
  padding-left: $left-width; /* "left col (nav + list)" width */
  position: relative;
}

/* These are position:fixed; elements that will be in the left $left-width of the screen */
#nav, #content-list {
  position: fixed;
  top: 0;
  bottom: 0;
  overflow: auto;
}

#nav {
  margin-left: -$left-width; /* "left col (nav + list)" width */
  width: $menu-width;
  height: 100%;
}

/* Show the menu items on the larger screen */
.nav-inner {
  display: block;
  padding: 2em 0;
}

/* Hide the "Menu" button on larger screens */
#nav .nav-menu-button {
  display: none;
}

#main {
  position: fixed;
  top: 33%;
  right: 0;
  bottom: 0;
  left: $menu-width;
  overflow: auto;
  width: auto; /* so that it's not 100% */
}

/* This will take up the entire height, and be a little thinner */
#content-list {
  margin-left: -($left-width - $menu-width);
  width: $list-width + $left-margin;
  height: 100%;
  border-right: 1px solid #ddd;
}

/* This will now take up it's own column, so don't need position: fixed; */
#main {
  position: static;
  margin: 0;
  padding: 0;
}
